:root{
    --g_white: #dadbdb;
    --black: #222;
    --dark: #333;
    --l_dark: #444;
    --white: #eee;
    --brand: #66ffff;
    --highlight: #fabb05;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--dark);
    font-family: 'Roboto', sans-serif;
    color: var(--black);
}

div#container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--dark);
    padding: 10px;
}
div#load_app_modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 101;
    margin: 20px 25% 20px 25%;
    width: 50%;
    height: 80%;
    border-radius: 15px;
    box-shadow: 0 0 7px var(--black);
    background-color: var(--g_white);
}
p#disclaimer{
    margin: 10px 0;
    font-size: .8em;
}
p#instructions{
    text-align: center;
    font-weight: 900;
    margin-top: 25px;
}
#prez_input_link{
    width: 75%;
    margin: 20px 0 25px;
    border: solid 1px var(--dark);
    height: 25px;
    border-radius: 3px;
    background-color: var(--white);
    color: var(--dark);
}
button#authButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 50px;
    border: 2px solid var(--g_white);
    background-color: var(--black);
    border-radius: 10px;
    color: var(--g_white);
    font-size: 1em;
    font-weight: 500;
    margin-top: 25px;
}
button#authButton:hover{
    border: 2px solid var(--highlight);
    box-shadow: 3px 3px 5px var(--black);
}
button#authButton img{
    margin-left: 10px;
}
div#cam_container{
    position: absolute;
    left: 10px;
    margin-top: 5px;
    z-index: 100;
    aspect-ratio: 1/1;
    background-color: var(--black);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
video#cam {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
div#prez_container{
    width: 80%;
    aspect-ratio: 16/9;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--l_dark);
}
iframe#presentation{
    border: none;
    width: 100%;
    height: 100%;
}
div#cam_button_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 200;
    width: 75px;
}
div#cam_button_container button{
    border: 2px solid var(--l_dark);
    border-radius: 3px;
    background-color: var(--dark);
    margin: 1px 0;
    padding: 2px;
    color: var(--l_dark);
}
div#cam_button_container button:hover{
    border-color: var(--g_white);
    color: var(--g_white);
}

.selected{
    background-color: var(--g_white) !important;
    border-color: var(--g_white) !important;
    color: var(--l_dark) !important;
}
.hidden, .hidden > *{
    display: none !important;
}
.small_cam{
    width: 25% !important;
    transition: width .5s;
}
.medium_cam{
    width: 35% !important;
    transition: width .5s;
}
.large_cam{
    width: 43% !important;
    transition: width .5s;
}

