/*
HELPER CLASSES CSS FILE FOR MPS TELEPRESENCE {blended] BLOG
    Written by Neal Easterling (3/2023)

    FONTS -------------------------
    .mpsfont - Helvetica Neue, Helvetica, Franklin Gothic Book, Arial
    
    COLOR -------------------------
    .bluefont - MPS blue font
    .bluebg - MPS blue background
    .blueborder - mps blue border
    .yellowfont - MPS yellow font
    .yellowbg - MPS yellow background
    .yellowborder - mps yellow border
    .blackfont - mps black font
    .blackbg - mps black background
    .blackborder - mps black border
    .redfont - mps red font
    .redbg - mps red background
    .redborder - mps red border
    .greenfont - mps green font
    .greenbg - mps green background
    .greenborder - mps green border
    .whitefont - white font
    .whitebg - white background
    .whiteborder - white border

    FORMATTING ---------------------
    .indent - block left indent 20 px
    .indentmore - block left indent 40 px
    .indentmost - block left indent 60 px
    .blockquote - block indent set apart
    .fullwidth - full width image auto height
    .button - post button style
    .border - add a 3px border
    .bordermore - add a 6px border
    .bordermost - add a 9px border
    .rounded - rounds corners by 10px
    .round - 50% border radius
    .spacer15 - 15px high spacer
    .spacer25 - 25px high spacer
*/
/* ========= FONTS =============*/
.mpsfont{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}
/* ========= COLORS =============*/
:root {
    --blue: #0061A3;
    --yellow: #F4C43A;
    --black: #2B2B2B;
    --red: #c41e3a;
    --purple: #4a3c9b;
    --green: #8dbf41;
    --white: #ffffff;
    --gray: #eeeeee;
}
.bluefont{
    color: var(--blue);
}
.bluebg{
    background-color: var(--blue);
}
.blueborder{
    border-color: var(--blue);
}
.yellowfont{
    color: var(--yellow);
}
.yellowbg{
    background-color: var(--yellow);
}
.yellowborder{
    border-color: var(--yellow);
}
.blackfont{
    color: var(--black);
}
.blackbg{
    background-color: var(--black);
}
.blackborder{
    border-color: var(--black);
}
.redfont{
    color: var(--red);
}
.redbg{
    background-color: var(--red);
}
.redborder{
    border-color: var(--red);
}
.purplefont{
    color: var(--purple);
}
.purplebg{
    background-color: var(--purple);
}
.purpleborder{
    border-color: var(--purple);
}
.greenfont{
    color: var(--green);
}
.greenbg{
    background-color: var(--green);
}
.greenborder{
    border-color: var(--green);
}
.whitefont{
    color: var(--white);
}
.whitebg{
    background-color: var(--white);
}
.whiteborder{
    border-color: var(--white);
}

.tablehead{
    color: var(--white);
    background-color: var(--blue);
    padding: 5px;
}
.tablehead2{
    color: var(--blue);
    background-color: var(--gray);
}


/* ========= FORMATTING =============*/
.mpspost{
    margin: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.mpspost table, .mpspost table tr td{
    border: 0;
    padding: 7px;
}
.mpspost table tr{
    border-bottom: 1px solid var(--gray);
}
.mpspost table tr td a{
    color: var(--blue);
}
.flexrow{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    padding: 15px 20px; 
    vertical-align: top;
}
.indent{
    display: block;
    margin-left: 20px;
}
.indentmore{
    display: block;
    margin-left: 40px;
}
.indentmost{
    display: block;
    margin-left: 60px;
}
.blockquote{
    display: block;
    margin: 15px 60px 15px;
    font-weight: 700;
    font-size: 1.5em;
}
.fullwidth{
    display: block;
    margin-top: 10px;
    width: 100%;
    height: auto;
}
.mpsbutton{
    display: block;
    padding: 15px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 600;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--blue);
    color: var(--white) !important;
    border: 2px solid var(--white);
}

.mpsbutton:hover{
    background-color: var(--white);
    color: var(--blue) !important;
    border-color: var(--blue);
}
.border{
    border-width: 3px;
}
.bordermore{
    border-width: 6px;
}
.bordermost{
    border-width: 9px;
}
.rounded{
    border-radius: 10px;
}
.round{
    border-radius: 50%;
}
.spacer15{
    display: block;
    height: 15px;
}
.spacer25{
    display: block;
    height: 25px;
}
.spacer50{
    display: block;
    height: 50px;
}
.mpspost .mps-icon-list{
    border: 0;
    table-layout: fixed;
}
.mpspost .mps-icon-list tr{
    border: 0;
}
.mpspost .mps-icon-list .icon-cell{
    width: 30px;
    text-align: center;
    vertical-align: middle;
}
.mpspost p{
    margin-top: 15px;
}

.mpsfocus b {
    color: var(--blue);
}
.mps-justify{
    text-align: justify;
}
.mps-floatleft{
    float: left;
    margin: 10px;
}
.mps-floatright{
    float: right;
    margin: 10px;
}

.mpspost a{
    color: var(--blue);
}



/* ========= Overrides =============*/

.outer-container{
    display: block;
}
aside#sidebar-container {
    display: none;
}
.item-post .post-body {
    line-height: 1em;
}
